@import './src/styles/vars';
@import './src/styles/mixins';

.Layout {
  display: flex;
  flex-grow: 1;
  font-family: $font-family;
  @include background-styles;
  height: 100vh;
  overflow: hidden;
}

.Container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 2.9rem;
}

.GameOver {
  background-image: url('../../assets/gameover_bg.jpeg');
}

.Default,
.Error {
  background-image: url('../../assets/default_bg.jpg');
}

.Authors {
  color: $font-color;
  text-align: center;
}
