@import './src/styles/vars';
@import './src/styles/mixins';

.Layout {
  display: flex;
  flex-grow: 1;
  font-family: $font-family;
}

.Container {
  @include flex-column;
  @include flex-vertical-center;
  @include background-styles;
  
  padding: 2.9rem;
  overflow-y: auto;
}

.GameOver {
  background-image: url('../../assets/gameover_bg.jpeg');
}

.Default {
  background-image: url('../../assets/default_bg.jpg');
}

.Authors {
  margin-top: 1.5rem;
  color: $font-color;
}
