@import './../../styles/vars';
@import './../../styles/mixins';

.Layout {
  display: flex;
  flex-grow: 1;
  font-family: $font-family;
  @include background-styles;
  height: 100vh;
  overflow: hidden;
}

.Container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 2.9rem;
}

.Wrapper {
  @include flex-column;
  justify-content: space-between;
  height: 100%;
}

.GameOver {
  background-image: url('../../assets/gameover_bg.jpeg');
}

.Default {
  // background-image: url('../../assets/default_bg.jpg');
  background-image: url('../../assets/light_bg.jpg');
}

.Error {
  background-image: url('../../assets/error_bg.png');

  h1 {
    color: $active;
  }
}

.Authors {
  color: $font-color;
  text-align: center;
}
