@import './src/styles/vars';
@import 'src/styles/mixins';

.FormSendMsg {
  display: flex;
  gap: 0.6rem;

  label {
    flex: 1;
  }
  input {
    padding: 0;
    padding-left: 1rem;
  }
  button {
    margin-bottom: 1.5rem;
  }
}

.ThemeHeader {
  @include flex-between;
  margin-bottom: 0.6rem;
}
