@import 'src/styles/mixins';

.profile {
  width: 100%;
  padding: 2.9rem 0;
}

.title {
  font-size: 32px;
  color: $font-color;
  @include flex-between;
  margin-bottom: 1.5rem;
}

.form {
  display: grid;
  grid-column-gap: 1.5rem;
}

.formWrapper {
  width: 100%;
  @include flex-horizontal-center;
}

.formSubmit {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  @include flex-horizontal-center;
}
