@import 'src/styles/vars';

.Button {
  color: inherit;
  margin: 0.3rem 0;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .Button {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}

@media (hover: hover) {
  .Button:hover {
    color: $error-color;
    transform: scale(1.5);
  }
}
