.list {
  width: 100%;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
