$Black: black;

.FormSendMsg {
  display: flex;
}

.InputSendMsg {
  flex: 1;
  align-self: center;
  height: 40px;
  margin-right: 10px;
  border: 2px solid $Black;
  border-radius: 0.3em;
  padding: 2rem 0.5rem;
  padding-left: 10px;
}

.ThemeHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  h2: {
    font-size: 2rem;
  }
}
