@import '../../styles/_vars';
@import '../../styles/mixins';

.Block {
  @include flex-column;
  @include flex-vertical-center;

  justify-content: space-between;
  padding: 2.9rem;
}

.ButtonsGroup {
  @include flex-column;

  :not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
