@import 'src/styles/mixins';

.avatar {
  @include flex-center;
  border-radius: 50%;
  overflow: hidden;
  @include background-styles;

  &.small {
    width: 3rem;
    height: 3rem
  }
  &.medium {
    width: 4rem;
    height: 4rem;
  }
}
