@import 'src/styles/mixins';

.User {
  display: flex;
  align-items: center;
  &:hover {
    .edit {
      visibility: visible;
    }
  }
}

.Avatar {
  overflow: hidden;
  border-radius: 50%;
  @include background-styles;
  margin: 0;
}

.Name {
  font-size: 24px;
  padding: 0.5rem 0;
  margin: 0;
  margin-left: 1rem;
  font-weight: 800;
}

.inner {
  @include flex-vertical-center;
}

.small {
  width: 3rem;
  height: 3rem;
}

.medium {
  width: 4rem;
  height: 4rem;
}

.large {
  width: 5rem;
  height: 5rem;
}

.edit {
  position: absolute;
  background-color: $scroll-color;
  color: $background-lite-color;
  width: 30%;
  height: 30%;
  display: flex;
  @include flex-center;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0.8;
  bottom: 10%;
  right: 0;
}
