@import 'src/styles/vars';

.Button {
  font-family: $font-family;
  font-size: 1.8rem;
  font-weight: 800;
  border: $border;
  box-shadow: $box-shadow;
  background-color: $background-lite-color;
  border-radius: $border-radius;
  cursor: pointer;
}

.small {
  padding: 0.5rem 6.5rem;
}

.medium {
  padding: 1.5rem 6.5rem;
}

.large {
  padding: 2rem 6.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .Button {
    transition: background-color 0.3s ease-in-out;
  }
}

@media (hover: hover) {
  .Button:hover {
    background-color: $active;
  }
}
