$font-family: ForceRunner, sans-serif;

$default-color: #000000;
$font-color: #e5dfffeb;
$error-color: #ff0000;
$background-lite-color: #ffffff;
$hover-background-color: #c1d7f7;
$active: #5deaf4;
$scroll-color: #3b7dc9;

$border: 5px solid #000000;
$border-err: 5px solid $error-color;
$border-radius: 5px;
$box-shadow: 0 4px 5px 4px rgba(0, 0, 0, 0.3);

$success: green;
$warning: yellow;
$info: #5deaf4;
