@import './vars';

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

@mixin card {
  border: $border;
  background: $background-lite-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

@mixin background-styles {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
