@import '../../../styles/vars';

.Alert {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
}
.success {
  background-color: $success;
}

.error {
  background-color: $error-color;
}

.warning {
  background-color: $active;
}

.info {
  background-color: $info;
}
