@import './src/styles/vars';
@import './src/styles/mixins';

.Button {
  background-color: $default-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  cursor: pointer;
  padding: 1.5rem 6.5rem;
  color: $font-color;
  @include flex-between;
}

@media (prefers-reduced-motion: no-preference) {
  .Button {
    transition: background-color 0.3s ease-in-out;
  }
}

@media (hover: hover) {
  .Button:hover {
    background-color: $active;
  }
}
